.section-shaped .shape-style-1.shape-default {
    background: linear-gradient(162deg, #3d2d84 25%, #3d2d84 50%, #ab92e7 99%) !important;
}
.headroom--not-top {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #343278 !important;
    box-shadow: 0 1px 10px rgba(130, 130, 134, 0.1);
}
.display-3 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}
.fbold{
    font-weight: 900;
}