<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250" id="home" style="background-image: url('./assets/img/modele/modele1.png'); background-size: contain; background-position: right; background-repeat: no-repeat;">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-8">
              <h1 class="display-3  text-white">Bienvenue dans l'art de la beauté
              </h1>
              <p class="lead  text-white">Bien plus qu'un salon, c'est un sanctuaire de beauté où l'excellence et l'innovation se rencontrent.</p>
              <div class="btn-wrapper">
                <a [routerLink]="['/register']" class="btn btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="ni ni-user-run"></i></span>
                  <span class="btn-inner--text">Prendre un rendez-vous</span>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <!-- <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-12">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="ni ni-check-bold"></i>
                  </div>
                  <h6 class="text-primary text-uppercase">Download Argon</h6>
                  <p class="description mt-3">Argon is a great free UI package based on Angular that includes the most important components and features.</p>
                  <div>
                    <span class="badge badge-pill badge-primary">angular</span>
                    <span class="badge badge-pill badge-primary">ng-bootstrap</span>
                    <span class="badge badge-pill badge-primary">creative</span>
                  </div>
                  <a href="javascript:void(0)" class="btn btn-primary mt-4">Learn more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <section class="section section-lg" id="services">
    <div class="container">
      <div class="row mb-lg">
        <div class="col-lg-12">
          <h2 class="display-3">Nos Services</h2>
          <p class="lead text-muted">Bienvenue dans notre oasis de beauté, où chaque détail est conçu pour révéler votre éclat naturel. </p>
        </div>
      </div>
      
      <div class="row" >
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0" *ngFor="let service of Services; let i = index">
          <div class="px-4">
            <img src="./assets/img/services/service-default.jpeg" class="img-center img-fluid shadow shadow-lg--hover" style="width: 10em;object-fit: cover;height: 10em;">
            <div class="pt-4 text-center mb-4">
              <h5 class="title">
                <span class="d-block mb-1 fbold">{{ service.name }} </span>
                <small class="h6 text-muted"> {{ service.description }}</small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </section>
  <section class="section bg-secondary" id="partenaires">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="card bg-default shadow border-0">
            <img src="./assets/img/theme/partner.jpeg" class="card-img-top">
            <blockquote class="card-blockquote">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                <polygon points="0,52 583,95 0,95" class="fill-default" />
                <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
              </svg>
              <h4 class="display-3 font-weight-bold text-white">Partenaires International</h4>
              <p class="lead text-italic text-white">Fiers de collaborer avec des partenaires internationaux de renom, nous élargissons nos horizons pour vous offrir le meilleur de l'esthétique et des tendances mondiales.</p>
            </blockquote>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
              <i class="ni ni-settings"></i>
            </div>
            <h3>Nos Partenaires</h3>
            <p class="lead"> À travers des partenariats internationaux soigneusement sélectionnés, nous importons des produits et des techniques exclusifs pour sublimer votre beauté. </p>
            <p>Ces collaborations témoignent de notre engagement envers l'innovation et l'excellence, </p>
            <p>afin que vous puissiez bénéficier des dernières tendances du monde entier</p>
           
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-lg bg-gradient-default">
    <div class="container pt-lg pb-300">
      <div class="row text-center justify-content-center">
        <div class="col-lg-10">
          <h2 class="display-3 text-white">Equipe experimente</h2>
          <p class="lead text-white">Notre équipe expérimentée révèle votre meilleure version avec des services personnalisés de qualité exceptionnelle, célébrant votre beauté unique à chaque visite.</p>
        </div>
      </div>
      <div class="row row-grid mt-5">
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-settings text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Localisations Exceptionnelles </h5>
          <p class="text-white mt-3">Explorez la beauté dans nos salons idéalement situés, offrant une expérience luxueuse et mémorable, en ville ou en bord de mer.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-ruler-pencil text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Équipes Expertes</h5>
          <p class="text-white mt-3">Notre équipe expérimentée et passionnée célèbre votre beauté unique à chaque visite, offrant des services personnalisés de qualité exceptionnelle.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-atom text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Excellence et Engagement</h5>
          <p class="text-white mt-3">Chez Manjamanja, l'excellence est la norme. Notre équipe dédiée offre des services de classe mondiale, restant à la pointe des tendances pour votre satisfaction ultime.</p>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section section-lg pt-lg-0 section-contact-us">
    <div class="container">
      <div class="row justify-content-center mt--300">
        <div class="col-lg-8">
          <div class="card bg-gradient-secondary shadow">
            <div class="card-body p-lg-5">
              <h4 class="mb-1">Contacter-nous</h4>
              <p class="mt-0">Envoyer nous vos message.</p>
              <div class="form-group mt-5" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-user-run"></i></span>
                  </div>
                  <input class="form-control" placeholder="Votre nom" type="text" (focus)="focus=true" (blur)="focus=false">
                </div>
              </div>
              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" placeholder="Adresse mail" type="email" (focus)="focus1=true" (blur)="focus1=false">
                </div>
              </div>
              <div class="form-group mb-4">
                <textarea class="form-control form-control-alternative" name="name" rows="4" cols="80" placeholder="Ecrivez votre message..."></textarea>
              </div>
              <div>
                <button type="button" class="btn btn-default btn-round btn-block btn-lg">Envoyer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
