<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <h1>Creer votre compte</h1> 
              </div>
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative mb-3" [ngClass]="{'has-success': myForm['firstName'].valid}">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-address-card"></i></span>
                    </div>
                    <input class="form-control" placeholder="Nom" formControlName="firstName" type="text" 
                    (focus)="focus=true" (blur)="focus=false" [ngClass]="{'is-valid': myForm['firstName'].valid }">
                  </div>
                  <!-- error -->
                  <div class="text-danger"
                  *ngIf="submitted && myForm['firstName'].errors?.['required']">
                  Veuillez entrer votre nom
                </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative mb-3" [ngClass]="{'has-success': myForm['lastName'].valid}">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-address-card"></i></span>
                    </div>
                    <input class="form-control" placeholder="Prenom" type="text" formControlName="lastName" [ngClass]="{'is-valid': myForm['lastName'].valid}"  (focus)="focus=true" (blur)="focus=false">
                  </div>
                  <div class="text-danger"
                  *ngIf="submitted && myForm['lastName'].errors?.['required']">
                 Veuillez entrer votre prenom
                </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative mb-3" [ngClass]="{'has-success': myForm['sexe'].valid}">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                    <select
                      class="custom-select form-control"
                      (change)="updateSexe($event.target.value)"
                      formControlName="sexe" [ngClass]="{'is-valid': myForm['sexe'].valid}"
                    >
                      <option value="">Choisir...</option>
                      <option
                        *ngFor="let sexe of ClientSexe"
                        value="{{ sexe }}"
                      >
                        {{ sexe }}
                      </option>
                    </select>
                    
                  </div>
                  <!-- error -->
                  <div
                  class="text-danger"
                  *ngIf="submitted && myForm['sexe'].errors?.['required']"
                >
                  Veuillez choisir votre sexe
                </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative" [ngClass]="{'has-success': myForm['dateOfBirth'].valid}">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                    </div>
                    <input class="form-control datepicker" formControlName="dateOfBirth" [ngClass]="{'is-valid': myForm['dateOfBirth'].valid}" placeholder="Date de naissance"   type="date"/>
                  </div>
                  <!-- error -->
                  <div
                  class="text-danger"
                  *ngIf="submitted && myForm['dateOfBirth'].errors?.['required']"
                >
                 Veuillez entrer votre date de naissance
                </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative mb-3" [ngClass]="{'has-success': myForm['address'].valid}">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-home"></i></span>
                    </div>
                    <input class="form-control" placeholder="Adresse" formControlName="address" [ngClass]="{'is-valid': myForm['address'].valid}" type="text" (focus)="focus=true" (blur)="focus=false">
                     
                  </div>
                  <!-- error -->
                  <div
                  class="text-danger"
                  *ngIf="submitted && myForm['address'].errors?.['required']"
                >
                 Veuillez entrer votre addresse
                </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative mb-3" [ngClass]="{'has-success': myForm['phoneNumber'].valid}">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-phone"></i></span>
                    </div>
                    <input class="form-control" placeholder="Telephone" formControlName="phoneNumber" [ngClass]="{'is-invalid': myForm['phoneNumber'].valid}" type="number" (focus)="focus=true" (blur)="focus=false">
                 
                  </div>
                   <!-- error -->
                   <div class="text-danger" *ngIf="submitted && myForm['phoneNumber'].hasError('required')">
                    Veuillez entrer votre numéro de téléphone
                  </div>
                  <div class="text-danger" *ngIf="submitted && myForm['phoneNumber'].hasError('invalidPhoneNumber')">
                    Veuillez entrer un numéro de téléphone valide (10 chiffres)
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                  <div class="input-group input-group-alternative mb-3" [ngClass]="{'has-success': myForm['email'].valid}">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email" formControlName="email" type="email" [ngClass]="{'is-invalid': myForm['email'].valid}" (focus)="focus1=true" (blur)="focus1=false">
                    
                  </div>
                  <div class="text-success" *ngIf="submitted && myForm['email'].valid">Email valide</div>
                  <div class="text-danger" *ngIf="submitted && myForm['email'].errors?.required">
                    Veuillez entrer votre adresse mail
                  </div>
                  <div class="text-danger" *ngIf="submitted && myForm['email'].errors?.email">
                    Veuillez entrer une adresse mail valide
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus2===true}">
                  <div class="input-group input-group-alternative" [ngClass]="{'has-success': myForm['password'].valid}">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Mot de passe" formControlName="password" type="password" [ngClass]="{'is-invalid': myForm['password'].valid}" (focus)="focus2=true" (blur)="focus2=false">
                  
                  </div>
                  <!-- error -->
                  <div class="text-success" *ngIf="submitted && myForm['password'].valid">Mot de passe fort</div>
                  <div class="text-danger" *ngIf="submitted && myForm['password'].hasError('required')">
                    Veuillez entrer un mot de passe!
                  </div>
                  <div class="text-danger" *ngIf="submitted && myForm['password'].hasError('weakPassword')">
                    Le mot de passe doit contenir au moins 3 types de caractères parmi majuscules, minuscules, chiffres, et caractères spéciaux.
                  </div>
                </div>
              
                <div class="text-center">
                  <button type="submit" class="btn btn-primary mt-4">S'inscrire</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
