<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <h1>Creer votre compte</h1> 
              </div>
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-address-card"></i></span>
                    </div>
                    <input class="form-control" placeholder="Nom" formControlName="firstName" type="text" (focus)="focus=true" (blur)="focus=false">
                  </div>
                  <!-- error -->
                  <div class="text-danger"
                  *ngIf="submitted && myForm['firstName'].errors?.['required']">
                  Veuillez entrer votre nom
                </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-address-card"></i></span>
                    </div>
                    <input class="form-control" placeholder="Prenom" type="text" formControlName="lastName"  (focus)="focus=true" (blur)="focus=false">
                  </div>
                  <div class="text-danger"
                  *ngIf="submitted && myForm['lastName'].errors?.['required']">
                 Veuillez entrer votre prenom
                </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                    <select
                      class="custom-select form-control"
                      (change)="updateSexe($event.target.value)"
                      formControlName="sexe"
                    >
                      <option value="">Choisir...</option>
                      <option
                        *ngFor="let sexe of ClientSexe"
                        value="{{ sexe }}"
                      >
                        {{ sexe }}
                      </option>
                    </select>
                    
                  </div>
                  <!-- error -->
                  <div
                  class="text-danger"
                  *ngIf="submitted && myForm['sexe'].errors?.['required']"
                >
                  Veuillez choisir votre sexe
                </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                    </div>
                    <input class="form-control datepicker" formControlName="dateOfBirth" placeholder="Date de naissance"   type="date"/>
                  </div>
                  <!-- error -->
                  <div
                  class="text-danger"
                  *ngIf="submitted && myForm['email'].errors?.['required']"
                >
                 Veuillez entrer votre date de naissance
                </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-home"></i></span>
                    </div>
                    <input class="form-control" placeholder="Adresse" formControlName="address" type="text" (focus)="focus=true" (blur)="focus=false">
                     
                  </div>
                  <!-- error -->
                  <div
                  class="text-danger"
                  *ngIf="submitted && myForm['address'].errors?.['required']"
                >
                 Veuillez entrer votre addresse
                </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-phone"></i></span>
                    </div>
                    <input class="form-control" placeholder="Telephone" formControlName="phoneNumber" type="text" (focus)="focus=true" (blur)="focus=false">
                 
                  </div>
                   <!-- error -->
                   <div
                   class="text-danger"
                   *ngIf="submitted && myForm['phoneNumber'].errors?.['required']"
                 >
                   Veuillez entrer votre numero de téléphone
                 </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email" formControlName="email" type="email" (focus)="focus1=true" (blur)="focus1=false">
                    
                  </div>
                  <!-- error -->
                  <div
                  class="text-danger"
                  *ngIf="submitted && myForm['email'].errors?.['required']"
                >
                  Veuillez entrer votre adresse mail
                </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus2===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Mot de passe" formControlName="password" type="password" (focus)="focus2=true" (blur)="focus2=false">
                  
                  </div>
                  <!-- error -->
                  <div
                  class="text-danger"
                  *ngIf="submitted && myForm['password'].errors?.['required']"
                >
                  Veuillez entrer un mot de passe correcte
                </div>
                </div>
              
                <div class="text-center">
                  <button type="submit" class="btn btn-primary mt-4">S'inscrire</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
